[Desktop Entry]
Name=Hello World
GenericName=Hello World App
Comment=Proves that we can use Vala and Gtk
Categories=Programming;
Exec=com.github.drejerisliudas.movies
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-world
Keywords=Hello;World;Example;
