[Desktop Entry]
Name=Movies
GenericName=Movies App
Comment=All movies in one app
Categories=Internet;
Exec=com.github.drejerisliudas.movies
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=movies
Keywords=Movies;Series;Descriptions;

